.content-expanded {
  height: 80vh;
  overflow: hidden;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding-bottom: 10px;
}

.commonIconStyle {
  color: white;
  font-size: 30px;
  /* margin-left: 20px; */
  margin-right: 20px;
}

.button-control {
  cursor: pointer;
}

.control-buttons button {
  width: 17%;
}

.agenda-item-description{
  background: rgb(46, 46, 46);
}

.agenda-item-description small {
  color: #e1f1fa;
  font-size: 12px;
}